doctype html
html
  head
    title= "蘭州國中社團選課系統"
    link(rel='icon', href='./images/favicon_clean.ico')
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='./stylesheets/fonts.css')
    link(rel='stylesheet', href='./stylesheets/nav.css')
    link(rel='stylesheet', href='./stylesheets/associations.css')
    script(src='../bower_components/jquery/dist/jquery.min.js')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

  body
    block content
